<main class="seven columns">
  <div class="info-panel info-panel--sequence">
    <span>Current sequence:</span>
    <h3 class="current-sequence">{{randomInitSequence}}</h3>
  </div>
  <form autocomplete="off">
    <input type="text" class="game-input">
    <button class="game-button">Submit answer</button>
  </form>
</main>
<aside class="five columns">
  <table class="u-full-width">
    <caption>
      <p>Round <span class="current-game-round">1</span>/5</p>
      <p>Score: <span class="player-score">0</span></p>
    </caption>
    {{!-- TODO: Players are no longer persisted --}}
    {{!-- <tbody>
      {{#each players}}
      <tr>
        <td> 
          {{this.name}}
        </td>
      </tr>
      {{/each}}
    </tbody> --}}
  </table>
</aside>
<script>

var socket = io();

function emitPlayerGameInput() {
  const playerGameInput = $(".game-input").val();
  const currentSequence = $(".current-sequence").text();
  socket.emit("player_game_input", currentSequence, playerGameInput);
}

socket.on("player_sequence_update", msg => {
  $(".current-sequence").text(msg);
});

socket.on("game_round_update", msg => {
  $(".current-game-round").text(msg);

  // game currently set only at 5 rounds
  let isGameOver = msg == 5 ? true : false;
  if (isGameOver) {
     window.location.hash = 'endgame';
  }
});

socket.on("player_score_update", msg => {
  let playerScoreElem = $(".player-score");
  const newPlayerScore = parseInt(playerScoreElem.text(), 10) + parseInt(msg, 10);
  playerScoreElem.text(newPlayerScore);
});

$(".game-button").click(function(e) {
  e.preventDefault();
  emitPlayerGameInput();
});

$(".game-input").keyup(function(e) {
  if (e.originalEvent.code === "Enter") {
    emitPlayerGameInput();
  }
});

</script>
