<main class="nine columns">
  <h5 class="hide" id="welcome-message">Hi, <span class="random-username"></span>!</h5>
  <h4>Welcome to this fun place!</h4>
  <hr>
  <table class="u-full-width">
    <caption>Players 👥</caption>
  <tbody>
    {{!-- td elements will dynamically populate this field --}}
  </tbody>
</table>
  <p>Chat 🗣</p>
  <form autocomplete="off">
      <div><textarea col="50" rows="20" style="width: 100%;" class="lobby-chat-textbox"></textarea></div>
      <div><input type="text" placeholder="" class="lobby-chat-input"><button class="xxx">Send</button></div>
  </form>
</main>
<aside class="three columns">
  <a href="/play" role="button">I'm ready to play</a>
</aside>

<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="/socket.io-client/dist/socket.io.dev.js"></script>
<script>
var socket = io();

$(() => {
    fetch('/users/nickname', {
      method: 'get',
    }).then(res => res.text())
      .then(res => {

        socket.emit("player_registered", {player_name: res}, () => {
            $("tbody").append(`<tr>
            <td>${res}</td>
            </tr>`);
             
            $(".random-username").text(res);
            $("#welcome-message").removeClass("hide");
          });
          
      });
});

</script>

