<main class="nine columns">
  <h5>Hi, <span class="random-username">{{randomUsername}}</span>!</h5>
  <h4>Welcome to this fun place!</h4>
  <hr>
  <table class="u-full-width">
    <caption>Players 👥</caption>
  <tbody>
    {{!-- td elements will dynamically populate this field --}}
  </tbody>
</table>
  <p>Chat 🗣</p>
  <form autocomplete="off">
      <div><textarea col="50" rows="20" style="width: 100%;" class="lobby-chat-textbox"></textarea></div>
      <div><input type="text" placeholder="" class="lobby-chat-input"><button class="xxx">Send</button></div>
  </form>
</main>
<aside class="three columns">
  <a href="/play" role="button">I'm ready to play</a>
</aside>

<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script>
$(function () {
  // if user is running mozilla then use it's built-in WebSocket
  window.WebSocket = window.WebSocket || window.MozWebSocket;

  var connection = new WebSocket('ws://192.168.0.3:3000');

  connection.onopen = function () {
    console.info("connection opened!");
    // connection is opened and ready to use
    // initialise username here
    fetch('/users/nickname', {
      method: 'get',
      headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      },
    }).then(res => res.json())
      .then(res => {
          $("tbody").append(`<tr>
          <td>${res}</td>
          </tr>`);
        console.log(res);
      });

    // let username = $(".random-username").text();
    
  };

  connection.onerror = function (error) {
    console.error(error);
    // an error occurred when sending/receiving data
  };

  connection.onmessage = function (message) {
    // try to decode json (I assume that each message
    // from server is json)
    try {
        var randomInitSequence = $(".random-init-sequence").text();
        var textarea = $("textarea");
        if (message.data == randomInitSequence) {
          textarea.val(textarea.val() + "\n" + "Raspuns corect!" + "\n");
        } else {
          textarea.val(textarea.val() + "\n" + message.data + "\n");
        }
    } catch (e) {
      console.log('This doesn\'t look like a valid JSON: ',
          message.data);
      return;
    }
  };

  $("button").click((e) => {
      e.preventDefault();
      connection.send($("input").val());
      $("input").val("");
  });


});
</script>
