<div id="screen">
    Please wait...
</div>

<script>
    const screen = window.location.hash.substr(1) || "lobby";
    fetch(`/fetch-screen/${screen}`)
    .then(res => res.text())
    .then(screenHtml => {
        $("#screen").html(screenHtml);
    });
</script>