<main class="nine columns">
  <span class="hide" id="welcome-message">Hellow, <span class="random-username"></span>!</span>
  <p>Welcome to this fun place!</p>
  <hr>
  <table class="u-full-width">
    <caption>
      <p>Players 👥</p>
    </caption>
  <tbody>
    {{#each players}}
    <tr>
      <td>{{this.name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
  <p>Chat 🗣</p>
  <form autocomplete="off">
      <div><textarea col="50" rows="20" style="width: 100%;" class="lobby-chat-textbox"></textarea></div>
      <div><input type="text" placeholder="Chat away..." class="lobby-chat-input"><button class="lobby-chat-button">Send</button></div>
  </form>
</main>
<aside class="three columns">
  <a href="/play" role="button">I'm ready to play</a>
</aside>

<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="/socket.io-client/dist/socket.io.dev.js"></script>

<script>
var socket = io();

$(() => {
    fetch('/users/nickname', {
      method: 'get',
    }).then(res => res.text())
      .then(res => {

        socket.emit("player_registered", {player_name: res}, () => {
            $("tbody").append(`<tr>
            <td>${res}</td>
            </tr>`);
             
            $(".random-username").text(res);
            $("#welcome-message").removeClass("hide");
        });
          
      });
});

function emitPlayerChatMessage() {
  const lobbyChatMsg = $(".lobby-chat-input").val();
    socket.emit("player_chat_message", lobbyChatMsg, () => {
        $(".lobby-chat-textbox").append("\n" + lobbyChatMsg);
        $(".lobby-chat-input").val("");
    });
}

$(".lobby-chat-button").click(function(e) {
    e.preventDefault();
    emitPlayerChatMessage();
});

$( ".lobby-chat-input" ).keyup(function(e) {
  if (e.originalEvent.code === "Enter") {
    emitPlayerChatMessage();
  }
});

</script>

