<div id="screen">
    Please wait...
</div>

<script>
    var socket = io({
        transports: ['websocket']
    });

    function locationHashChanged() {
        if (!window.location.hash) {
            window.location.hash = "lobby";
        }

        const screen = window.location.hash.substr(1)

        fetch(`/fetch-screen/${screen}`)
        .then(res => res.text())
        .then(screenHtml => {
            $("#screen").html(screenHtml);
        });
    }
    // initial render
    locationHashChanged();
    
    window.onhashchange = locationHashChanged;
</script>