<main class="seven columns">
  <div class="info-panel">
    <span>Current sequence:</span>
    <h3 class="current-sequence">{{randomInitSequence}}</h3>
  </div>
  <form autocomplete="off">
    <input type="text" class="game-input">
    <button class="game-button">Submit answer</button>
  </form>
</main>
<aside class="five columns">
  <table class="u-full-width">
    <caption>
      <p>Round 1/5</p>
    </caption>
    <tbody>
      {{#each players}}
      <tr>
        <td> 
          {{this.name}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</aside>


<script>
var socket = io();

function emitPlayerGameInput() {
  const playerGameInput = $(".game-input").val();
  socket.emit("player_game_input", playerGameInput);
}

socket.on("player_sequence_update", msg => {
  $(".current-sequence").text(msg);
});

$(".game-button").click(function(e) {
  e.preventDefault();
  emitPlayerGameInput();
});

$(".game-input").keyup(function(e) {
  if (e.originalEvent.code === "Enter") {
    emitPlayerGameInput();
  }
});

</script>
