<main class="seven columns">
  <div class="info-panel">
    <span>Starting sequence:</span>
    <h3 class="random-init-sequence">{{randomInitSequence}}</h3>
  </div>
  <form autocomplete="off">
    <input type="text">
    <button>Submit answer</button>
  </form>
</main>
<aside class="five columns">
  <table class="u-full-width">
    <caption>
      <p>Round 1/5</p>
    </caption>
    <tbody>
      {{#each players}}
      <tr>
        <td> 
          {{this.name}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</aside>


<script>

</script>
